<header>
<!-- <div class="topline"></div> -->
<div class="main-container topheader">
<div class="wrapper">
<div class="heading">We Accept All<img width="70px" src="./assets/images/icon_visamastercard.png"></div>
<ul>
<li class="payment"><a href=""><b></b><span>Online Payment</span></a></li>
<!-- <li class="tracking"><a href=""><b></b><span>Consignment Tracking</span></a></li> -->
<li class="download"><a href=""><b></b><span>Download App</span></a></li>
<!-- <li class="csr"><a href="csr.html"><b></b><span>CSR</span></a></li> -->
<!-- <li class="faq"><a href="faqs.html"><b></b><span>FAQs</span></a></li> -->
<!-- <li class="worldwide"><a href="locations.html"><b></b><span>Worldwide Presence</span></a></li> -->
</ul>
</div>
</div>
</header>