<section>
  <div class="main-container">
    <div class="wrapper whoweare">
      <ul>
        <li>
          <h1>
            <span>Welcome to</span> Expert Packers and Movers.</h1>
          <p>Expert Packers and Movers is a globally recognized logistics company since ,2008 , for imparting excellent services
            in packing and moving segments. While shifting, the only thought that worries you the most is the safety and
            care of your valuable belongings.</p>
          <a class="read-more" href="profile.html">
            <span></span>Read more</a>
        </li>
        <li>
          <h1>
            <span>About</span> Expert Packers and Movers.</h1>
          <p>
            Export packers and movers have been a leading name among the packers and movers. located in bangalore city, we prefer the
            best packing and moving of experice in the industry, we are known to be the ruling king in the catelog og packers
            and movers. We assume you with the safety of your goods at the most affordable rates.
          </p>
          <a class="read-more" href="about.html">
            <span></span>Read more</a>
        </li>
        <!-- <li>
          <img src="assets/images/icon_award.png">
          <h2>India’s Largest and
            <br> Most Awarded Mover</h2>
          <p>Largest mover of household goods in country acknowledged by “Limca Book of Records”</p>
          <a class="read-more" href="apmat_glance.html">
            <span></span>Read more</a>
        </li>
        <li>
          <img src="assets/images/icon_map.png">
          <h2>Worldwide Presence</h2>
          <h3>Patent/TM registered in USA, Canada, Europe and Australia etc.</h3>
          <p>More than 100 branches PAN India to cover 1264 destinations in India and covering 182 Countries worldwide</p>
        </li> -->
      </ul>
    </div>
  </div>
</section>
<section class="service" style="padding-top: 20px;padding-bottom: 20px;">
  <div class="main-container">
    <div class="wrapper">
      <ul>
        <li>
          <div class="service-category international-mover core-services">
            <a href="services.html" class="left">
              <img src="assets/images/packers/2.jpg" style="height: 182px;width: 180px;">
              <div class="core-service-content">
                <div class="heading">Our core services</div>
                <div class="heading-2">We offer wide range of services to meet all of your moving needs</div>
                <p>We, Expert Packers and Movers Ltd. ensure that ‘Nothing other than the place changes.’ We shoulder your all
                  worries and tensions by putting you at complete ease.</p>
              </div>
              <div class="plus"></div>
            </a>
          </div>
          <div class="service-category domestic-shifting">
            <a href="apm-domestic-relocation.html" class="left">
              <div class="heading">Domestic Moving</div>
              <p>We have gained so much supremacy in shifting regime, that we are considered as best Moving service providing
                company.
              </p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/11.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category international-mover">
            <a href="international-packaging.html" class="left">
              <div class="heading">International Mover</div>
              <p>We offer an unparalleled plethora of efficient international Moving services.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/12.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category trucking-cube">
            <a href="apm-supply-chain.html" class="left">
              <div class="heading">Supply Chain</div>
              <p>We are the organization specialized in Supply Chain, which involves the ultimate provision for product and
                services packages.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/1.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>

          <div class="service-category international-mover corporate-shifting">
            <a href="corporate-moving.html" class="left">
              <div class="heading">Corporate Shifting</div>
              <p>We take pride in being experienced and competent to render unmatched and effective corporate shifting services.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/3.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category car-carrier">
            <a href="apm-transportation.html" class="left">
              <div class="heading">Transportation</div>
              <p>We are one-stop platform that provides qualitative, reliable and safe transportation services with YOUR
                <strong>LOCK,</strong> YOUR
                <strong>KEY</strong>.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/4.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
        </li>
        <li>
          <div class="service-category domestic-shifting">
            <a href="apm-car-carriers.html" class="left">
              <div class="heading">Car Carrier Service</div>
              <p>Delivering Speedy, Swift, Excellent, Reliable and Efficient Car Carrier Services</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/5.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category international-mover">
            <a href="apm-home-storage.html" class="left">
              <div class="heading">Home Storage</div>
              <p>We provide outstanding Home Storage Services. We are reliable, punctual and consistent with our own core values.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/6.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category trucking-cube">
            <a href="apm-warehousing.html" class="left">
              <div class="heading">Warehousing Service</div>
              <p>Owns 20 Lac Sq. ft. well-structured &amp; Leak-proof roofed warehouses on Government approved lands with advanced
                features
              </p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category international-mover exim-cargo">
            <a href="apm-exim-cargo.html" class="left">
              <div class="heading">Exim Cargo Services</div>
              <p>Strengthened by experience &amp; integrity, offering world-class Exim Cargo services</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/8.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category international-mover corporate-shifting">
            <a href="apm-odc-transportation.html" class="left">
              <div class="heading">ODC Transportation</div>
              <p>Dedicated and Competent in providing effective, outstanding and hassle-free ODC Transportation services</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/9.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category car-carrier">
            <a href="apm-infrastructure.html" class="left">
              <div class="heading">Infrastructure Service</div>
              <p>Providing Roof Tech &amp; Infrastructure Services for many functional domains as well as for many industrial
                groups
              </p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/10.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
        </li>
        <li>
          <div class="service-category domestic-shifting">
            <a href="apm-air-terminal-management.html" class="left">
              <div class="heading">Air Terminal Management</div>
              <p>Through sheer grit, innovation and expertise, we surpass the international standards in the provision of Air
                Terminal Management services.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/11.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          --&gt;
          <div class="service-category international-mover">
            <a href="#" class="left">
              <div class="heading">International Mover</div>
              <p>We offer an unparalleled plethora of efficient international moving services.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/13.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category trucking-cube">
            <a href="#" class="left">
              <div class="heading">Supply Chain</div>
              <p>We are the organization specializing in Supply Chain, which involves the ultimate provision for product and
                services packages.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/14.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category international-mover">
            <a href="record-management.html" class="left">
              <div class="heading">Record Management Service</div>
              <p>We provide secure and clean facilities, where customer's records and documents are safe as well as easily retrievable
                on demand.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/15.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category international-mover corporate-shifting">
            <a href="#" class="left">
              <div class="heading">Corporate Shifting</div>
              <p>We take pride in being experienced and competent to render unmatched and effective corporate shifting services.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/16.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
          <div class="service-category car-carrier">
            <a href="apm-transportation.html" class="left">
              <div class="heading">Transportation</div>
              <p>We are that one-stop that provides quality, reliable and safe transportation services.</p>
              <div class="plus"></div>
            </a>
            <div class="right">
              <img src="assets/images/packers/17.jpg" style="height: 182px;width: 180px;">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="strength-news-container">
  <div class="strength" style="width: 100%;">
    <div class="strength-box" style="width: 100%;">
      <div style="float: left;width: 100%;">
        <div class="heading">Our Strength</div>
        <p>
          <span>Why are we most preferable movers?</span>
          <br>We carry your Emotions and Dreams, not just Goods</p>
        <div class="small-box" style="width: 200px;margin: 0 10px;">
          <div class="img">
            <img src="assets/images/packers/18.jpg" style="height: 182px;width: 180px;">
          </div>
          <div class="sub-heading">400+</div>
          <p>Vehicles</p>
        </div>
        <div class="small-box branches" style="width: 200px;margin: 0 10px;">
          <div class="img">
            <img src="assets/images/packers/19.jpg" style="height: 182px;width: 180px;">
          </div>
          <div class="sub-heading">4</div>
          <p>Branches</p>
        </div>
        <div class="small-box manpower" style="width: 200px;margin: 0 10px;">
          <div class="img">
            <img src="assets/images/packers/20.jpg" style="height: 182px;width: 180px;">
          </div>
          <div class="sub-heading">1000+</div>
          <p>Manpower</p>
        </div>
        <div class="small-box cubes" style="width: 200px;margin: 0 10px;">
          <div class="img">
            <img src="assets/images/packers/21.jpg" style="height: 182px;width: 180px;">
          </div>
          <div class="sub-heading">2000+</div>
          <p>Trucking Cubes</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-usp-container">
  <div class="main-container">
    <div class="wrapper our-usp">
      <div class="ist-box">
        <div class="heading">OUR USPs</div>
        <p>We take pride in being known all around because of our innovative &amp; unique USPs those are effective solution
          to all moving needs of the customers and have made us a leading company in the field of "Packing &amp; Moving".</p>
        <a class="read-more" href="apm-usp.html">
          <span></span>Read more</a>
      </div>
      <div class="our-usp-slider">
        <ul>
          <li>
            <div class="second-box">
              <ol>
                <li>
                  <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertapm-usp.html#cubetrucking">Trucking
                        <br>Cube
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
                <li>
                  <img src="assets/images/packers/15.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertapm-usp.html#BoxPerfect">C. BOARD
                        <br>CARTON Box
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
                <li>
                  <img src="assets/images/packers/18.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertapm-usp.html#SheetsFabric">Hard Card
                        <br>Board Sheet
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
                <li>
                  <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertapm-usp.html#BoxLED">Card Board
                        <br>LED Box
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
              </ol>
            </div>
          </li>
          <li>
            <div class="second-box">
              <ol>
                <li>
                  <img src="assets/images/packers/13.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertwhy-Expert-packers.html#BikeStand">Bike
                        <br>Stand
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
                <li>
                  <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertapm-usp.html#BeltsSafety">Safety
                        <br>Belts
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
                <li>
                  <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>Trolley
                      <br>for Safe
                      <br>Carriage
                      <span>+</span>
                    </span>
                  </div>
                </li>
              </ol>
            </div>
          </li>
          <li>
            <div class="second-box">
              <ol>
                <li>
                  <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertapm-usp.html#CageforPetsandPlantCarriers">Cage for
                        <br>Pets and Plants
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
                <li>
                  <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertapm-usp.html#CarrierCar">Car
                        <br>Carrier
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
                <li>
                  <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>
                      <a href="Expertapm-usp.html#CarrierSpecial">Special
                        <br>Carrier
                        <span>+</span>
                      </a>
                    </span>
                  </div>
                </li>
                <li>
                  <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
                  <div class="hover">
                    <span>Home
                      <br>Storage
                      <span>+</span>
                    </span>
                  </div>
                </li>
              </ol>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

<section class="testi-best-container">
  <div class="testi">
    <div class="testi-box">
      <div class="heading">Testimonials</div>
      <div class="heading-2">We made them Happy, you could be next…</div>
      <ul>
        <li>
          <div class="testi-content">
            <div class="testi-txt-content">
              <div class="left">
                <img src="assets/images/packers/7.jpg" style="height: 270px;width: 504px;">
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="best">
    <div class="best-box">
      <div class="heading">Why we are the best from others</div>
      <ul>
        <li>
          <div class="small-box-content">
            <div class="small-box">
              <div class="img">
                <img src="assets/images/packers/7.jpg" style="height: 142px;width: 252px;">
              </div>
              <div class="right-content">
                <div class="sub-heading">24X7 Service</div>
                <p>Our moving &amp; customer care services are open for you all the time.</p>
              </div>
            </div>
            <div class="small-box experience">
              <div class="img">
                <img src="assets/images/packers/7.jpg" style="height: 142px;width: 252px;">
              </div>
              <div class="right-content">
                <div class="sub-heading">Almost 3 decades of experience</div>
                <p>Possesses enough experience to relocate you safely.</p>
              </div>
            </div>
            <div class="small-box approves">
              <div class="img">
                <img src="assets/images/packers/13.jpg" style="height: 142px;width: 252px;">
              </div>
              <div class="right-content">
                <div class="sub-heading">IBA approved</div>
                <p>Takes pride in being IBA approved to earn your trust</p>
              </div>
            </div>
            <div class="small-box security">
              <div class="img">
                <img src="assets/images/packers/7.jpg" style="height: 142px;width: 252px;">
              </div>
              <div class="right-content">
                <div class="sub-heading">Complete security</div>
                <p>Put your own lock on the cubes/containers and unlock at your end for 100% safety assurance.</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="small-box-content">
            <div class="small-box">
              <div class="img">
                <img src="assets/images/packers/19.jpg" style="height: 142px;width: 252px;">
              </div>
              <div class="right-content">
                <div class="sub-heading">Limca Book of Records Holder</div>
                <p>For the Largest Mover of Household Goods</p>
              </div>
            </div>
            <div class="small-box experience">
              <div class="img">
                <img src="assets/images/packers/21.jpg" style="height: 142px;width: 252px;">
              </div>
              <div class="right-content">
                <div class="sub-heading">ISO 39001:2012 Certified</div>
                <p>First Indian Company to get this certification in household shifting segment</p>
              </div>
            </div>
            <div class="small-box approves">
              <div class="img">
                <img src="assets/images/packers/22.JPG" style="height: 142px;width: 252px;">
              </div>
              <div class="right-content">
                <div class="sub-heading">Wide Coverage</div>
                <p>Covering 1264 locations in PAN India and 182 countries worldwide.</p>
              </div>
            </div>
            <div class="small-box security">
              <div class="img">
                <img src="assets/images/packers/6.jpg" style="height: 142px;width: 252px;">
              </div>
              <div class="right-content">
                <div class="sub-heading">Quick Claim Settlement</div>
                <p>In case of any claim, quick settlement is ensured</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>