<div class="row">
  <div class="col-sm-4">
    <table class="table" style="background-color:#9e9999;margin-bottom: 0px;">
      <thead>
        <tr>
          <td>
            <div class="input-group">
              <select style="width: 198px;background-color: #8c7c7c;color: white;">
                <option value="1" ng-reflect-value="1">Show All</option>
                <option value="2" ng-reflect-value="2">Show</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group">
              <input class="form-control" id="inputGroup" placeholder="Search Messages" type="text" style="width: 197px;height: 22px;color: #ffffff;background-color: #8c7c7c;">
              <i class="fa fa-search" style="margin-left: -15px;margin-top: 4px; z-index: 111;position: absolute;color: white;"></i>
              <a style="text-decoration: underline;margin-left: 10px;cursor: pointer;">Clear Filter</a>
            </div>
          </td>
        </tr>
      </thead>
    </table>
    <div>
      <div class="chat_list">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div style="margin-left: 25px;">
                <img alt="User1" class="img-circle" src="assets/images/usp-trolly.jpg" style="width: 35px;height: 35px;" title="User1">
              </div>
              <div style="width: 285px;margin-left: 7px;margin-right: 16px;">
                <div>
                  <div>
                    <span class="list-group-item-heading text-muted">Vignesh Natarajan (IN - TN)</span>
                  </div>
                  <div style="float: right;margin-top: -20px;">
                    <span>30 Min</span>
                  </div>
                </div>
                <div>
                  <p class="list-group-item-text" style="height: 30px;overflow: hidden;">
                      Very long text. He correctly displayed. Very long text. He correctly displayed. Very long text. He correctly displayed. Very
                      long text. He correctly displayed. Very long text. He correctly displayed. Very long text. He correctly displayed.
                      Very long text. He correctly displayed. Very long text. He correctly displayed.
                  </p>
                </div>
              </div>
              <div>
                <a style="color: green;">
                  <i class="fa fa-circle"></i>
                </a>
                <a>
                  <i class="fa fa-wifi"></i>
                </a>
                <a>
                  <i class="fa fa-paperclip"></i>
                </a>
                <a style="margin-left: 5px;font-size: 16px;">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
              </div>
            </div>
          </li>

          <li class="list-group-item">
              <div class="row">
                <div style="margin-left: 25px;">
                  <img alt="User1" class="img-circle" src="assets/images/usp-trolly.jpg" style="width: 35px;height: 35px;" title="User1">
                </div>
                <div style="width: 285px;margin-left: 7px;margin-right: 16px;">
                  <div>
                    <div>
                      <span class="list-group-item-heading text-muted">Mathavan Krishnan (IN - TN)</span>
                    </div>
                    <div style="float: right;margin-top: -20px;">
                      <span>30 Min</span>
                    </div>
                  </div>
                  <div>
                    <p class="list-group-item-text" style="height: 30px;overflow: hidden;">
                        Very long text. He correctly displayed. Very long text. He correctly displayed. Very long text. He correctly displayed. Very
                        long text. He correctly displayed. Very long text. He correctly displayed. Very long text. He correctly displayed.
                        Very long text. He correctly displayed. Very long text. He correctly displayed.
                    </p>
                  </div>
                </div>
                <div>
                  <a style="color: orange;">
                    <i class="fa fa-circle"></i>
                  </a>
                  <a>
                    <i class="fa fa-wifi"></i>
                  </a>
                  <a>
                    <i class="fa fa-paperclip"></i>
                  </a>
                  <a style="margin-left: 5px;font-size: 16px;">
                    <i class="fa fa-ellipsis-v"></i>
                  </a>
                </div>
              </div>
            </li>


            <li class="list-group-item">
                <div class="row">
                  <div style="margin-left: 25px;">
                    <img alt="User1" class="img-circle" src="assets/images/usp-trolly.jpg" style="width: 35px;height: 35px;" title="User1">
                  </div>
                  <div style="width: 285px;margin-left: 7px;margin-right: 16px;">
                    <div>
                      <div>
                        <span class="list-group-item-heading text-muted">Divya (USA - TN)</span>
                      </div>
                      <div style="float: right;margin-top: -20px;">
                        <span>30 Min</span>
                      </div>
                    </div>
                    <div>
                      <p class="list-group-item-text" style="height: 30px;overflow: hidden;">
                          Very long text. He correctly displayed. Very long text. He correctly displayed. Very long text. He correctly displayed. Very
                          long text. He correctly displayed. Very long text. He correctly displayed. Very long text. He correctly displayed.
                          Very long text. He correctly displayed. Very long text. He correctly displayed.
                      </p>
                    </div>
                  </div>
                  <div>
                    <a style="color: green;">
                      <i class="fa fa-circle"></i>
                    </a>
                    <a>
                      <i class="fa fa-wifi"></i>
                    </a>
                    <a>
                      <i class="fa fa-paperclip"></i>
                    </a>
                    <a style="margin-left: 5px;font-size: 16px;" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<b>Summa!!!!</b>">
                      <i class="fa fa-ellipsis-v"></i>
                    </a>
                  </div>
                </div>
              </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-sm-8">
    <div>
      <div class="chat_list">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="pull-left hidden-xs">
              <div>
                <img alt="User1" class="img-circle" data-src="holder.js/40x40/vine" title="User1">
              </div>
            </div>
            <div>
              <small class="list-group-item-heading text-muted text-primary">User1</small>
              <p class="list-group-item-text">
                Very long text. He correctly displayed. Very long text. He correctly displayed. Very long text. He correctly displayed. Very
                long text. He correctly displayed. Very long text. He correctly displayed. Very long text. He correctly displayed.
                Very long text. He correctly displayed. Very long text. He correctly displayed.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p>Document:</p>
        <i class="fa" style="font-size:24px"></i>
      </div>
      <div class="col-sm-4">
        <p>Download:</p>
        <span class="glyphicon glyphicon-cloud-download"></span>
      </div>
      <div class="col-sm-4">
        <p>PDF:</p>
        <i class="fa" style="font-size:24px"></i>
      </div>
      <div>
        <p>Download:</p>
        <span class="glyphicon glyphicon-cloud-download"></span>
      </div>
    </div>
  </div>
</div>