<div class="container">
    <div class="clear-both col-xs-12 col-sm-12 col-md-12 col-lg-12" style="    margin-top: 10px;">
        <div class="clear-both col-xs-6 col-sm-5 col-md-5 col-lg-5 service-category">
            <div class="right" style="    float: left;    overflow: auto;   width: 100%;">
                <img src="assets/images/packers/7.jpg" style="height: 290px;width: 321px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-5 col-md-5 col-lg-5 service-category">
            <div class="row">

                <div class="row">
                    <div>
                        <h3 style="color: #2c7528;font-size: 29px;font-weight: bold;font-family: sans-serif , serif, -webkit-pictograph;">
                            Expert Packers &amp; Movers</h3>
                        <h5 style="font-weight: bold;text-align: right;color: blue;font-size: 12px;font-family:initial;">House Hold Goods</h5>
                    </div>
                    <div class="address" style="width:100%">
                        <h6 style="font-weight: bold;font-size: 14px;display: block;line-height: 2;color: #da251c;font-family: sans-serif , serif, -webkit-pictograph;">
                            Mobile No</h6>
                        <span style="margin-left:20px;font-weight: bold;font-size: 13px;line-height: 2;color: #290301;font-family: sans-serif , serif, -webkit-pictograph;">
                            9731312898</span>
                        <span style="font-weight: bold;font-size: 13px;line-height: 2;color: #290301;font-family: sans-serif , serif, -webkit-pictograph;">
                            ,&nbsp;&nbsp;&nbsp; 9845166313</span>
                        <h6 style="font-weight: bold;font-size: 14px;display: block;line-height: 2;color: #da251c;font-family: sans-serif , serif, -webkit-pictograph;">
                            Landline No</h6>
                        <div class="pull-left" style="font-weight: bold;font-size: 14px;
                        display: block;margin-left: 20px;
                        line-height: 2;color: #b53933;font-family: sans-serif , serif, -webkit-pictograph;
                    ">080</div>
                        <span style="font-weight: bold;font-size: 13px;line-height: 2;color: #290301;font-family: sans-serif , serif, -webkit-pictograph;">
                            &nbsp;&nbsp;&nbsp; 64510160</span>
                        <span style="font-weight: bold;font-size: 13px;line-height: 2;color: #290301;font-family: sans-serif , serif, -webkit-pictograph;">
                            ,&nbsp;&nbsp;&nbsp; 2680552</span>
                        <div style="
                            margin-top: 15px;
                            font-size: 14px;
                            color: #da251c;
                            font-family: sans-serif , serif, -webkit-pictograph;
                        ">
                            <div>Web site: expertpackersandmovers.com </div>
                            <div> Email: expertpackers@gmail.com </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>