<div class="container image-galary">
    <div class="clear-both col-xs-12 col-sm-12 col-md-12 col-lg-12" style="    margin-top: 10px;">
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/1.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/2.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/3.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/4.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
    </div>

    <div class="clear-both col-xs-12 col-sm-12 col-md-12 col-lg-12" style="    margin-top: 10px;">
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/5.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/6.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/7.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/8.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
    </div>

    <div class="clear-both col-xs-12 col-sm-12 col-md-12 col-lg-12" style="    margin-top: 10px;">
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/9.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/10.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/11.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
        <div class="clear-both col-xs-6 col-sm-3 col-md-3 col-lg-3 service-category">
            <div class="right">
                <img src="assets/images/packers/12.jpg" style="height: 182px;width: 180px;">
            </div>
        </div>
    </div>
</div>